body{
  font-family: 'DM Serif Display', sans-serif;
  padding:0;
  margin:0;
}

header{
  color:#000000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#3d8171 3px solid;
  margin: auto;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  align-content: center;
}

header .logo .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 100px;
}


main{
    text-align: center;
    min-height: 70px;
}

main #welcome{
    margin-top: auto;
    text-align: center;
    color: #fff;
    margin: auto;
    background: 100%;
    border-radius: 25px;
    background-color: #3d8171;
}

main .img-plan{
    max-height: 60%;
    max-width: 60%;
    border-radius: 10px;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
  color: #000000;
}

#boxes .box img{
  max-width: 260px;
    max-height: 200px;
    border-radius: 10px;
}

#textMain{
  text-align: justify;
  text-justify: inter-word;
}

#tab{
    background: #fff;
    margin: auto;
    border-radius: 10px;
}

#clock {
	font-size: 48px;
	width: 900px;
	margin: auto;
	text-align: center;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 20px;
}

footer{
    padding: 2px;
    background-color:#3d8171;
    text-align: center;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    font-variant: normal;
    border-radius: 10px;
}

@media(max-width: 960px){
    header .logo,
    header .logo .img{
        float: none;
        text-align:center;
        width:100%;
    }
    
li a {
    display: block;
}

  .img{
  max-width: 100px;
  max-height: 80px;
}
 
#boxes .box{
        float: none;
        text-align:center;
        width:100%;
  }
}
